@font-face {
  font-family: "LobsterRegular";
  src: url("../fonts/LobsterRegular/LobsterRegular.eot");
  src: url("../fonts/LobsterRegular/LobsterRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LobsterRegular/LobsterRegular.woff") format("woff"), url("../fonts/LobsterRegular/LobsterRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  margin: 0;
  padding: 0; }

.slider .slide .slider_text button, .wrap_services div button {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  outline: none;
  cursor: pointer;
  color: #fff; }

a:hover, a {
  text-decoration: inherit;
  color: inherit; }

.content {
  max-width: 1200px;
  margin: 0 auto; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

body {
  font-family: font_main;
  color: #4e525d; }

.top_line {
  padding: 0 20px; }
  .top_line h1 {
    float: left; }
    .top_line h1 a {
      color: #44c0c2;
      font: 300 43px/2.3 "LobsterRegular"; }
  .top_line nav {
    float: right; }
    .top_line nav ul {
      list-style-type: none; }
      .top_line nav ul li {
        float: left; }
        .top_line nav ul li a {
          line-height: 5;
          padding: 10px 15px;
          display: inline-block; }
          .top_line nav ul li a:hover, .top_line nav ul li a.active {
            color: #49cbcd;
            border-bottom: 2px solid #49cbcd;
            background-color: #f8f9fb; }

.slider .slide img {
  width: 100%;
  position: relative; }

.slider .slide .slider_text {
  color: #fff;
  position: absolute;
  top: 20%;
  left: 17%;
  width: 65%;
  text-align: center; }
  .slider .slide .slider_text h2 {
    font-size: 63px; }
  .slider .slide .slider_text p {
    font-size: 23px;
    width: 49%;
    margin: 2% auto;
    line-height: 1.7; }
  .slider .slide .slider_text button {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 15px 40px;
    font-size: 26px;
    margin-top: 3%; }

.owl-prev, .owl-next {
  position: absolute;
  top: 47%;
  background: url("../img/nav.png") no-repeat #fefefe center;
  width: 50px;
  height: 50px;
  display: block;
  opacity: 0.5;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .owl-prev:hover, .owl-next:hover {
    opacity: 1; }

.owl-prev {
  left: 4%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.owl-next {
  right: 4%; }

.main section {
  margin: 0 auto;
  padding: 100px 0; }
  .main section:not(#team) {
    background-color: #f1f1f1; }

#team {
  text-align: center; }
  #team .wrap_person {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #team .wrap_person h3 {
      margin-bottom: 75px; }
    #team .wrap_person .person {
      width: 25%;
      padding: 10px;
      position: relative; }
      #team .wrap_person .person:hover:before {
        content: "+";
        font-weight: 600;
        position: absolute;
        left: 42%;
        top: 15%;
        color: #f46d6d;
        font-size: 85px; }
      #team .wrap_person .person div {
        display: inline-block;
        width: 200px;
        height: 200px;
        background-color: #eeeef0;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        margin-bottom: 50px; }
      #team .wrap_person .person p {
        line-height: 1.7; }
        #team .wrap_person .person p:nth-child(3) {
          margin-bottom: 15px; }

.wrap_services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .wrap_services div {
    width: 30%;
    text-align: center;
    background-color: #f8f9fb; }
    .wrap_services div h4 {
      background-color: #485460;
      color: #fff;
      font-size: 26px;
      line-height: 3; }
    .wrap_services div span {
      line-height: 4; }
    .wrap_services div ul {
      line-height: 2.5;
      list-style-type: none; }
      .wrap_services div ul li {
        border-bottom: 1px solid #ecf0f1;
        background-color: #fff; }
    .wrap_services div button {
      background-color: #788492;
      margin: 30px auto;
      padding: 15px 40px;
      border: none;
      font-size: 17px;
      font-weight: 600; }
