@font-face {
  font-family: "LobsterRegular";
  src: url("../fonts/LobsterRegular/LobsterRegular.eot");
  src: url("../fonts/LobsterRegular/LobsterRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LobsterRegular/LobsterRegular.woff") format("woff"), url("../fonts/LobsterRegular/LobsterRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  margin: 0;
  padding: 0; }

.slider .slide .slider_text button, .wrap_services div button, footer .contact form button {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  outline: none;
  cursor: pointer;
  color: #fff; }

a:hover, a {
  text-decoration: inherit;
  color: inherit; }

.content {
  max-width: 1200px;
  margin: 0 auto; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

body {
  font-family: font_main;
  color: #4e525d; }

.wrap_top_line {
  height: 99px; }

.top_line {
  padding: 0 20px; }
  .top_line h1 {
    float: left; }
    .top_line h1 a {
      color: #44c0c2;
      font: 300 43px/2.3 "LobsterRegular"; }
  .top_line nav {
    float: right; }
    .top_line nav ul {
      list-style-type: none; }
      .top_line nav ul li {
        float: left; }
        .top_line nav ul li a {
          font: 15px/5 "OpenSansRegular";
          padding: 11px 20px;
          display: inline-block; }
          .top_line nav ul li a:hover, .top_line nav ul li a.active {
            color: #49cbcd;
            border-bottom: 2px solid #49cbcd;
            background-color: #f8f9fb; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  opacity: 0.8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .fixed h1 a {
    line-height: 1.5; }
  .fixed nav ul li a {
    line-height: 2.7; }

.slider .slide img {
  width: 100%;
  position: relative; }

.slider .slide .slider_text {
  color: #fff;
  position: absolute;
  top: 20%;
  left: 17%;
  width: 65%;
  text-align: center; }
  .slider .slide .slider_text h2 {
    font-size: 63px;
    font-weight: 600; }
  .slider .slide .slider_text p {
    font-size: 23px;
    width: 36%;
    margin: 3% auto;
    line-height: 1.7; }
  .slider .slide .slider_text button {
    background-color: transparent;
    border: 3px solid #fff;
    padding: 15px 40px;
    font-size: 26px;
    margin-top: 4%;
    font-weight: 600; }

.owl-prev, .owl-next {
  position: absolute;
  top: 47%;
  background: url("../img/nav.png") no-repeat #fefefe center;
  width: 50px;
  height: 50px;
  display: block;
  opacity: 0.5;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .owl-prev:hover, .owl-next:hover {
    opacity: 1; }

.owl-prev {
  left: 4%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.owl-next {
  right: 4%; }

.main section {
  margin: 0 auto;
  padding: 100px 0; }
  .main section:not(#team) {
    background-color: #f1f1f1; }

#team {
  text-align: center;
  font-family: "OpenSansRegular"; }
  #team h3 {
    margin-bottom: 100px;
    font-size: 42px;
    font-weight: normal; }
  #team .wrap_person {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #team .wrap_person .person {
      width: 25%;
      padding: 10px;
      position: relative; }
      #team .wrap_person .person:hover:before {
        content: "+";
        font-weight: 800;
        position: absolute;
        left: 42%;
        top: 15%;
        color: #f46d6d;
        font-size: 85px; }
      #team .wrap_person .person div {
        display: inline-block;
        width: 200px;
        height: 200px;
        background-color: #eeeef0;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        margin-bottom: 70px; }
      #team .wrap_person .person p {
        line-height: 1.6;
        font-size: 14px; }
        #team .wrap_person .person p:nth-child(2) {
          font-size: 22px; }
        #team .wrap_person .person p:nth-child(3) {
          margin-bottom: 15px;
          font-size: 14px; }

.wrap_services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .wrap_services div {
    width: 30%;
    text-align: center;
    background-color: #f8f9fb;
    font: 300 14px/2.5 "OpenSansRegular"; }
    .wrap_services div h4 {
      background-color: #485460;
      color: #fff;
      font-size: 26px;
      line-height: 2.7;
      font-weight: inherit; }
    .wrap_services div span {
      line-height: 4;
      font-size: 20px; }
    .wrap_services div ul {
      list-style-type: none; }
      .wrap_services div ul li {
        border-bottom: 1px solid #ecf0f1;
        background-color: #fff; }
    .wrap_services div button {
      background-color: #788492;
      margin: 30px auto;
      padding: 15px 40px;
      border: none;
      font-size: 17px;
      line-height: normal; }

footer {
  background-image: url("../img/footer.jpg");
  background-size: cover;
  font-family: "OpenSansRegular"; }
  footer .contact {
    padding: 90px 10px; }
    footer .contact h3 {
      text-align: center;
      color: #fff;
      width: 100%;
      margin-bottom: 100px;
      font-size: 42px; }
    footer .contact div, footer .contact form {
      width: 48%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    footer .contact div {
      float: left;
      font-size: 14px;
      padding: 10px; }
      footer .contact div h6 {
        color: #fff;
        font-size: 24px;
        line-height: 2; }
      footer .contact div p {
        line-height: 1.7;
        margin-bottom: 35px;
        color: #ababab; }
      footer .contact div p:last-child {
        color: #bface2; }
      footer .contact div ul {
        list-style-type: none;
        margin-bottom: 15px; }
        footer .contact div ul li {
          display: inline-block;
          margin-right: 10px; }
          footer .contact div ul li:nth-child(2) a {
            background-position-x: 88px; }
          footer .contact div ul li:nth-child(3) a {
            background-position-x: 42px; }
          footer .contact div ul li a {
            display: block;
            width: 42px;
            height: 42px;
            background: url("../img/icons.png"); }
    footer .contact form {
      float: right;
      padding: 10px; }
      footer .contact form input, footer .contact form textarea {
        border: none;
        outline: none;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin-bottom: 5%;
        font-family: inherit; }
      footer .contact form input {
        padding: 12px 20px;
        width: 47%; }
        footer .contact form input:nth-child(1) {
          margin-right: 5%; }
      footer .contact form textarea {
        width: 100%;
        padding: 12px 20px;
        resize: none; }
      footer .contact form button {
        float: right;
        background-color: #49cbcd;
        padding: 15px 60px;
        border: none;
        font-size: 17px; }
